body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #2c2c34;
  border: 2px solid black;
}

#titulo {
  color: #d8d8f6;
  text-align: center;
  margin: 2px;
  font-size: 45px;
}

#navegacao {
  margin-top: 70px;
  background-color: #494850;
  width: 100%;
  padding-bottom: 10px;
}

#menuPrincipal {
  color: #d8d8f6;
  margin-left: 6px;
}

div #navegador {
  display: inline-block;
}

div .links {
  color: #d8d8f6;
  display: inline-block;
}

a .links {
  margin-left: 30px;
}

#minha_foto {
  width: 8cm;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #494850;
}

#artigo {
  font-family: arial, sans-serif;
}

#tituloPrincipal {
  color: #2c2c34;
}

#paragrafoPrincipal {
  line-height: 0.8cm;
  text-align: justify;
}

.lado-esquerdo {
  margin-left: 10px;
  display: inline-block;
  width: 45%;
}

.lado-direito {
  width: 30%;
  float: right;
  font-style: italic;
  line-height: 30px;
}

#rodape {
  bottom: 0;
  background-color: #2c2c34;
  width: 100%;
  height: 90px;
  margin: 3px;
}

#titulorodape {
  color: #d8d8f6;
  padding-top: 15px;
  padding-left: 15px;
}

#site {
  color: #d8d8f6;
  font-family: fantasy;
  padding-left: 15px;
}

span {
  color: #d8d8f6;
  font-style: italic;
}

#h83 {
  display: none;
}
