body {
  background-color: rgb(253, 251, 251);

}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  height: 180px;
  background-color: black;
}

#titulo {
  color: white;
  text-align: center;
  margin: 2px;
}

#minha_foto {
  overflow: scroll;
  width: 8cm;
  margin-top: 180px;
  margin-bottom: 10px;
}

#rodape {
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 90px;
  margin: 3px;
}

#titulorodape {
  color: white;
}

#site {
  color: red;
  font-family: fantasy;
}

h2 {
  color: white;
}

span {
  color: red;
  font-style: italic;
}

#h83 {
  display: none;
}