body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  height: 180px;
  background-color: black;
}

#titulo {
  color: white;
  text-align: center;
}

#minha_foto {
  overflow: scroll;
  width: 8cm;
  margin-top: 180px;
}

